@import 'utils/styles/breakpoints';
@import 'utils/styles/mixins';

.root {
  padding: var(--global-offset-small);

  &.top {
    padding-top: var(--global-offset-y);
  }

  &.white {
    background-color: var(--color-white);
  }

  &.gray {
    background-color: var(--color-gray-1);
  }

  &.red {
    background-color: var(--color-red-1);
  }

  @media (min-width: $bp-medium) {
    padding-left: var(--global-offset-x);
    padding-right: var(--global-offset-x);
  }
}

.content-container {
  @include prevent-margin-collapse;
  margin: 0 auto;
  max-width: var(--global-content-width);
}

.widerContainer {
  max-width: var(--global-content-width-bigger);
}
