@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/mixins';
@import 'utils/styles/type';

.button {
  @include reset-button;
  @include copy-2;
  @include uiTransition(color);

  &:hover {
    color: var(--color-red-2);
  }

  @media (min-width: $bp-small) {
    top: 65px;
  }
}

.icon {
  display: block;
  fill: transparent;

  @media (min-width: $bp-small) {
    display: none;
  }
}

.text {
  display: none;

  @media (min-width: $bp-small) {
    display: inline;
  }
}
