@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/type';
@import 'utils/styles/mixins';

.link,
.button {
  background-color: var(--color-gray-3);
  border: 0;
  border-radius: 6px;
  color: var(--color-white);
  display: block;
  height: 57px;
  margin-top: 60px;
  padding: 16px 24px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  width: 126px;

  &:hover,
  &:focus {
    background-color: var(--color-gray-2);
  }
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
  @include copy-3;
  cursor: pointer;
  margin-top: 50px;
}

.info {
  display: flex;
  min-height: 100vh;
  padding-bottom: 0;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 40px;

  @media (min-width: $bp-medium) {
    padding-top: 80px;
  }
}

.title {
  @include headline-2-small;
}

.text {
  @include copy-1;

  .title + & {
    margin-top: 20px;
  }
}

.link {
  .title + & {
    margin-top: 60px;
  }
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
}

.image-wrapper {
  flex-grow: 0;
  flex-shrink: 1;
  height: 300px;
  pointer-events: none;
  position: relative;

  @media (min-width: $bp-medium) {
    height: 470px;
  }
}

.image {
  bottom: 0;
  max-height: 100%;
  max-width: initial;
  position: absolute;
  right: 0;
}
