@import 'utils/styles/breakpoints';

.root {
  --global-nav-y-offset: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--global-offset-small);
  width: 100%;

  @media (min-width: $bp-small) {
    justify-content: start;
  }
}

.logo-container {
  fill: currentColor;
  margin: var(--global-nav-y-offset) 0;
  width: var(--logo-width);
}

.link-container {
  flex-grow: 1;

  @media (min-width: $bp-small) {
    &.standard {
      margin-left: auto;
    }

    &.dashboard {
      margin-left: 70px;
    }
  }
}
