@import 'utils/styles/breakpoints';

.root {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 var(--global-offset-small);
  width: 100%;

  &.white {
    background-color: var(--color-white);
  }

  &.gray {
    background-color: var(--color-gray-1);
  }

  &.red {
    background-color: var(--color-red-1);
  }

  @media (min-width: $bp-medium) {
    background-color: transparent !important;
  }
}

.logo-container {
  fill: currentColor;
  margin: var(--global-nav-y-offset) 0;
  width: var(--logo-width);
}

.link-container {
  flex-grow: 1;
}
