@import 'utils/styles/breakpoints';
@import 'utils/styles/type';

.hero-headline {
  @include headline-2;
  color: var(--text-dark);
  margin-top: 10vh;
}

.hero-body {
  @include copy-2;
  color: rgba(#111, 0.8);
  margin-top: var(--global-offset-small);

  @media (min-width: $bp-medium) {
    width: 66%;
  }
}

.hero-img {
  margin: 0 calc(var(--global-offset-small) * -1);

  @media (min-width: $bp-medium) {
    margin: -20%;
  }
}

.faq-container {
  border-top: 1px solid;
  display: flex;
  width: 100%;
}

.faq-header {
  @include headline-3;
  color: var(--text-dark);
  display: none;
  margin: var(--global-offset-small) var(--global-offset-small) 0 0;

  @media (min-width: $bp-medium) {
    display: unset;
  }
}

.faq-body {
  flex: 0 1 880px;
  margin-left: auto;
}

.faq-item {
  padding-top: var(--global-offset-small);

  & + & {
    border-top: 1px solid rgba(#111, 0.1);
    margin-top: 30px;
  }
}

.faq-headline {
  @include headline-3;
  color: var(--text-dark);
}

.faq-answer {
  @include copy-1;
  color: var(--text-dark);
}

.faq-description {
  @include copy-2;
  color: var(--text-dark);
  margin-top: 15px;
}

.footer {
  background-color: var(--color-gray-1);
}
