@import 'utils/styles/breakpoints';

.nav {
  border-bottom: 1px solid rgba(#111, 0.1);
  margin: -20px calc(var(--global-offset-small) * -1) 0;

  @media (min-width: $bp-medium) {
    display: none;
  }
}

.root {
  margin-top: var(--global-offset-small);
}

.info-container {
  margin-top: 30px;

  @media (min-width: $bp-medium) {
    margin-top: 50px;
  }
}

.section {
  margin-top: 80px;

  @media (min-width: $bp-medium) {
    margin-top: 100px;
  }
}

.content-box-profile {
  @media (min-width: $bp-medium) {
    padding-left: calc(180px + var(--global-offset-small) + 7vw);
  }
}

.content-box-profile-child {
  max-width: var(--global-content-width-bigger);
}
