@mixin disable-callout() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin reset-button() {
  @include disable-callout();

  background-color: transparent;
  border: 0;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  //outline: none;
  overflow: hidden;
  padding: 0;
  text-align: inherit;

  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin reset-input {
  appearance: none;
  background: none transparent;
  border: 0;
  box-shadow: none;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: inherit;
  margin: 0;
  //outline: none;
  width: 100%;
}
