@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/type';
@import 'utils/styles/mixins';

.help-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
}

.item {
  & + & {
    margin-top: 170px;
  }
}

.title {
  @include headline-2;
  margin-bottom: var(--global-offset-small);
}

.footer {
  border-top: 1px solid rgba(#111, 0.1);
  margin-top: var(--global-offset-small);
  padding: var(--global-offset-small) 0;
}

.footer__left {
  @include copy-2;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.avatars {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.avatar__item {
  display: block;
  height: 40px;
  width: 40px;

  &:not(:first-child) {
    margin-left: -10px;
  }
}
