@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/mixins';
@import 'utils/styles/type';

.root {
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (min-width: $bp-medium) {
    display: flex;
    height: 95vh;
  }
}

.section {
  color: var(--text-dark);
  padding-bottom: var(--global-offset-small);
  padding-left: var(--global-offset-small);
  padding-right: calc(var(--global-offset-small) * 2);

  @media (min-width: $bp-medium) {
    display: flex;
    flex: 0 0 50%;
    min-width: 0;

    &:first-of-type {
      padding-left: var(--global-offset-small);
      padding-right: 0;
    }

    &:last-of-type {
      padding-left: 0;
      padding-right: var(--global-offset-small);
    }
  }

  &:first-of-type {
    padding-top: calc(var(--global-offset-y) + 80px);

    @media (min-width: $bp-medium) {
      padding-left: var(--global-offset-small);
      padding-top: var(--global-offset-y);
    }
  }

  &:last-of-type {
    padding-top: 80px;

    @media (min-width: $bp-medium) {
      padding-right: var(--global-offset-small);
      padding-top: var(--global-offset-y);
    }
  }

  &.get {
    background-color: var(--color-red-2);
  }

  &.give {
    background-color: var(--color-red-1);
  }
}

.animation-container {
  display: none;
  height: 100%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  @media (min-width: $bp-medium) {
    display: block;
  }
}

.animation {
  @include uiTransition(opacity);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.is-hidden {
    opacity: 0;
  }

  &--full {
    .animation-container.is-intro-complete & {
      opacity: 0;
    }
  }

  &--get,
  &--give {
    .animation-container:not(.is-intro-complete) & {
      opacity: 0;
    }
  }
}

.link {
  @include reset-button;

  @media (min-width: $bp-medium) {
    display: flex;
    height: 100%;
    width: 100%;

    .give & {
      flex-direction: row-reverse;
    }
  }
}

.content-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-medium) {
    flex: 0 0 50%;
  }
}

.title {
  @include headline-2;
}

.copy {
  @include copy-2;
  margin-top: 10px;
}

.cta {
  @include uiTransition(transform);
  fill: currentColor;
  margin-top: 48px;
  width: 24px;

  .content-container:hover & {
    transform: translateX(10px);
  }
}
