@import 'utils/styles/animations';
@import 'utils/styles/mixins';
@import 'utils/styles/type';

.root {
  display: flex;
  width: 100%;
}

.section {
  align-items: center;
  display: flex;

  &--1 {
    margin-left: 7vw;

    .root--profile &,
    .root--dashboard & {
      display: none;

      @media (min-width: $bp-medium) {
        display: flex;
      }
    }
  }

  &--2 {
    margin-left: auto;
  }
}

.section-link-container {
  flex: 1 1 50%;
  text-align: center;

  @media (min-width: $bp-medium) {
    flex: unset;
    margin: 0 30px;
  }
}

.link-item {
  @include headline-3;
  @include uiTransition(all);
  border-bottom: 2px solid transparent;
  display: block;
  opacity: 0.5;
  padding: 20px 0;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (min-width: $bp-medium) {
    padding: var(--global-nav-y-offset) 0;
  }

  &--button {
    @include headline-3;
    @include reset-button;
    width: 100%;
  }

  &.selected {
    border-bottom-color: currentColor;
    opacity: 1;
  }
}

.user-link {
  margin-left: 30px;
}

.help {
  @include uiTransition(opacity);
  color: var(--color-text-dark);
  opacity: 0.5;
  width: 25px;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.avatar {
  width: 50px;
}
