@import 'utils/styles/animations';
@import 'utils/styles/type';

.root {
  @include copy-3;
  @include uiTransition(border-color);
  border: 5px solid rgba(#111, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 215px;
  justify-content: space-between;
  padding: 20px;
  width: 168px;

  &:hover {
    border-color: var(--color-red-2);
  }
}
