@import 'utils/styles/breakpoints';

.root {
  min-height: 100vh;
  position: relative;

  &.red {
    background-color: var(--color-red-1);
  }
}

.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
