@import 'utils/styles/breakpoints';

.root {
  min-height: 100vh;
  position: relative;
}

.header {
  left: 0;
  padding: var(--global-offset-small) var(--global-offset-small) 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
