@import 'utils/styles/type';

.root {
  display: flex;
  height: 95vh;
  width: 100%;
}

.section {
  color: var(--text-dark);
  display: flex;
  flex: 1 0 50%;
  padding: var(--global-offset-y) 0;

  &.get {
    background-color: var(--color-red-2);
  }

  &.give {
    background-color: var(--color-red-1);
  }
}

.link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 var(--global-offset-x);
  width: 100%;
}

.title {
  @include headline-2;
}

.copy {
  @include copy-1;
  margin-top: 20px;
}

.cta {
  fill: currentColor;
  margin-top: 100px;
  width: 40px;
}

.footer {
  background-color: var(--color-white);
}
