@import 'utils/styles/animations';
@import 'utils/styles/type';
@import 'utils/styles/mixins';

.title {
  @include headline-4;
  @include reset-button;
  @include uiTransition(all);

  align-items: center;
  border-bottom: 1px solid rgba(#111, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  width: 100%;

  &:hover {
    border-color: var(--color-red-2);
    color: var(--color-red-2);
  }
}

.content {
  display: none;
  padding: 30px 0;
}

.content--open {
  display: block;
}

.indicator {
  @include copy-3(600);
}
