@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/type';
@import 'utils/styles/mixins';

.nav {
  border-bottom: 1px solid rgba(#111, 0.1);
  margin-top: -20px;

  @media (min-width: $bp-medium) {
    display: none;
  }
}

// Get Help
.root {
  margin-top: 10vh;
}

.add-request {
  @include headline-2-small;
  @include reset-button;
  align-items: center;
  background-color: var(--color-gray-1);
  border-radius: 6px;
  color: var(--text-dark);
  display: flex;
  font-size: 40px;
  height: 150px;
  justify-content: center;
  width: 120px;
}

.requests-container {
  margin-top: var(--global-offset-small);
}

.request {
  & + & {
    margin-top: var(--global-offset-small);
  }
}

.title,
.match-title {
  @include headline-2-small;
}

.detail {
  margin-top: var(--global-offset-small);
}

.footer {
  @include copy-2;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: calc(var(--global-offset-small) * 0.66);
}

.avatars {
  display: flex;
}

.avatar-item {
  display: block;
  position: relative;
  width: 40px;

  &:not(:first-child) {
    margin-left: -10px;
    z-index: 1;
  }
}

.footer-copy {
  color: rgba(#111, 0.8);
  margin-left: 1.2em;
}

// matched

.match-container {
  margin-top: 70px;

  @media (min-width: $bp-medium) {
    margin-top: 120px;
  }
}

.match-box {
  border: 8px solid rgba(#111, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    padding: 50px 60px 50px 40px;
  }
}

.match-title {
  margin-bottom: 50px;
}

.info-wrapper {
  max-width: 380px;
}

.info-wrapper-title {
  @include headline-3;
  margin-bottom: 15px;
}

.info-wrapper-text {
  @include copy-3;
  font-weight: normal;
}

.image-wrapper {
  display: flex;
  margin-top: 20px;

  @media (min-width: $bp-medium) {
    margin-top: 0;
  }
}

.match-image {
  width: 70px;

  @media (min-width: $bp-medium) {
    width: 100px;
  }

  & + & {
    margin-left: -30px;
  }
}

.view-project-link {
  align-items: center;
  display: inline-flex;
  margin-top: 30px;
}

.view-project-link-text {
  @include copy-2;
  margin-left: 12px;
  margin-right: 7px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.complete-image-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.complete-side-image-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  width: 70px;

  @media (min-width: $bp-medium) {
    width: 120px;
  }
}

.complete-illustration-wrapper {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  width: 100%;
}
