@import 'utils/styles/mixins';
@import 'utils/styles/type';

.root {
  background-color: var(--color-white);
  max-width: calc(50vw + var(--global-offset-x));
  padding: 100px var(--global-offset-x);
}

.headline {
  @include headline-3;

  > .line1 {
    color: var(--text-dark);
  }

  > .line2 {
    color: var(--text-red);
  }
}

.form-container {
  margin-top: 60px;
  width: 60%;
}

.copy {
  @include copy-1(400);
  margin-top: 80px;
}

.social {
  margin-top: 40px;
}
