@import 'utils/styles/mixins';
@import 'utils/styles/type';

.root {
  padding: var(--global-offset-small);
}

.logo-container {
  fill: var(--text-dark);
  opacity: 0.2;
  width: var(--logo-width);
}

.content-container {
  @media (min-width: $bp-medium) {
    max-width: 420px;
  }
}

.headline {
  @include headline-3;

  > .line1 {
    color: var(--text-dark);
  }

  > .line2 {
    color: var(--text-red);
  }
}

.form-container {
  margin-top: var(--global-offset-small);
}

.legal-container {
  margin: 110px auto 0;

  @media (min-width: $bp-medium) {
    margin-top: 160px;
  }
}

.legal {
  @include copy-2;
  color: var(--color-gray-2);
  display: flex;
  flex-direction: column;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    justify-content: flex-start;
  }

  > li + li {
    margin-top: var(--global-offset-small);

    @media (min-width: $bp-medium) {
      margin-left: var(--global-offset-small);
      margin-top: 0;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer-links {
  @media (min-width: $bp-medium) {
    display: grid;
    grid-gap: 190px;
    grid-template-columns: 1fr 3fr 0fr;
  }
}
