@import 'utils/styles/breakpoints';
@import 'utils/styles/type';

.root {
  min-height: 100vh;
}

.headline {
  @include headline-2;
  margin-top: 10vh;

  @media (min-width: $bp-medium) {
    max-width: 100%;
  }
}

.body {
  @include copy-2;
  margin-top: 30px;

  @media (min-width: $bp-medium) {
    max-width: 100%;
  }
}

.form-container {
  margin-top: 10vh;
}

.error {
  @include copy-1;
  color: var(--color-red-1);
  margin-top: 10px;
}
