.root {
  align-items: center;
  background-color: var(--color-red-2);
  border-radius: 100%;
  color: var(--color-white);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
