@import 'utils/styles/animations';
@import 'utils/styles/mixins';
@import 'utils/styles/type';

.label {
  @include copy-1;
  @include uiTransition(color);
  border-bottom: 2px solid;
  color: rgba(#111, 0.3);
  display: flex;
  font-size: 16px; // Input text needs to be at least 16px, or Mobile Safari will zoom when focused
  padding-bottom: 10px;

  &:hover {
    color: rgba(#111, 0.6);
  }

  &:focus-within {
    color: var(--color-gray-2);
  }

  > input {
    @include reset-input;
    color: var(--text-dark);
    outline: none;
  }
}

.submit {
  @include reset-button;
  fill: currentColor;
  margin-left: 10px;
  width: 16px;

  .touched:invalid & {
    fill: var(--text-red);
  }
}

.error {
  color: var(--text-red);
  margin-top: 20px;
  visibility: hidden;

  .touched:invalid & {
    visibility: unset;
  }
}
