@import 'utils/styles/type';

.challenge {
  @include copy-1;
  background-color: var(--color-white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  padding: 24px;
}

.challenge-title {
  .challenge:not(:hover) & {
    opacity: 0.8;
  }
}

.challenge-ctas {
  .challenge:not(:hover) & {
    display: none;
  }
}

.challenge-cta {
  & + & {
    margin-top: 15px;
  }

  > a:hover {
    color: var(--text-red);
  }
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  width: 12px;

  a:hover & {
    fill: var(--text-red);
  }

  a:not(:hover) & {
    display: none;
  }
}
