@import 'utils/styles/animations';
@import 'utils/styles/type';
@import 'utils/styles/mixins';
@import 'utils/styles/breakpoints';

.root {
  background-color: var(--color-red-1);
}

.inner {
  margin: 0 auto;
  max-width: 840px;
  padding: 180px 30px;
  position: relative;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    margin-bottom: 130px;
  }
}

.title {
  @include headline-1;
  margin-bottom: 10px;
}

.subtitle {
  @include copy-3;
}

.avatar {
  margin-bottom: 30px;
  order: -1;
  width: 180px;
  
  @media (min-width: $bp-medium) {
    margin-bottom: 0;
    order: 0;
    width: 240px;
  }
}

.heading {
  @include headline-4;
  margin-bottom: 35px;
}

.challenges {
  display: flex;
  margin-bottom: 75px;
  margin-left: -30px;
  margin-right: -30px;
  overflow-x: scroll;

  @media (min-width: $bp-medium) {
    flex-wrap: wrap;
    margin-bottom: 145px;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }
}

.challenges__item {
  @include copy-1;
  background-color: var(--color-white);
  border-radius: 6px;
  height: 320px;
  margin: 0 0 20px 20px;
  padding: 25px;
  width: 230px;

  @media (max-width: $bp-medium) {
    height: 220px;
    min-width: 170px;
  }
}

.challenges__add {
  @include headline-2;
  align-items: center;
  background-color: var(--color-red-2);
  border-radius: 6px;
  color: var(--color-white);
  display: flex;
  font-size: 40px;
  height: 320px;
  justify-content: center;
  margin: 0 20px 20px;
  width: 230px;

  @media (max-width: $bp-medium) {
    height: 220px;
    width: 170px;
  }
}

.quote {
  @include headline-2;
  margin-bottom: 50px;
}

.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $bp-medium) {
    flex-wrap: nowrap;
  }
}

.share__button {
  @include copy-1;
  align-items: center;
  background-color: var(--color-red-2);
  border: 0;
  border-radius: 6px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  margin: 0 15px 15px 0;
  width: 70px;

  @media (min-width: $bp-medium) {
    flex-wrap: nowrap;
    height: 140px;
    width: 150px;
  }
}

.share__icon {
  fill: var(--color-white);
  margin-bottom: 5px;
  width: 20px;

  @media (min-width: $bp-medium) {
    margin-bottom: 10px;
    width: 30px;
  }
}

.help-link {
  @include reset-button;
  @include copy-2;
  @include uiTransition(color);
  position: absolute;
  right: 0;
  top: 65px;
  z-index: 2;

  &:hover {
    color: var(--color-red-2);
  }
}
