@import 'utils/styles/animations';
@import 'utils/styles/breakpoints';
@import 'utils/styles/type';
@import 'utils/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
}

.support {
  align-self: flex-end;
  display: flex;
  width: 100%;
  z-index: 2;

  &__body {
    @include copy-2;
  }

  &__link {
    font-weight: 500;
  }

  &__close {
    margin-left: auto;
  }
}

.close-button {
  @include reset-button;
  @include copy-2(500);
  @include uiTransition(color);
  display: inline-block;
  margin-left: 10px;

  &:hover {
    color: var(--color-red-2);
  }
}

.inner {
  margin-top: var(--global-offset-small);
}

.title {
  @include headline-2;
  margin-bottom: 50px;
  max-width: 550px;

  @media (min-width: $bp-medium) {
    margin-bottom: 100px;
  }
}

.section {
  border-bottom: 1px solid var(--color-gray-3);
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-top: 30px;

  &:last-of-type {
    border-bottom: 0;
  }
}

.block {
  max-width: 600px;
  padding-bottom: 35px;

  & + & {
    margin-top: var(--global-offset-small);
  }
}

.hasBorder {
  border-bottom: 1px solid rgba(#111, 0.1);
  padding-bottom: 60px;

  &:last-of-type {
    border-bottom: 0;
  }
}

.heading {
  @include headline-3(600);
}

.body {
  @include copy-2;

  p + p {
    margin-top: 30px;
  }
}

.cta {
  @include reset-button;
  @include uiTransition(background-color);
  @include copy-1;

  background-color: var(--color-gray-3);
  border-radius: 6px;
  color: var(--color-white);
  margin-top: 0;
  padding: 15px;
  text-align: center;
  width: 100%;

  @media (min-width: $bp-medium) {
    padding: 30px;
  }

  &:hover,
  &:focus {
    background-color: var(--color-red-2);
  }
}
